<div class="custom-container">
  <div class="row">
    <div
      class="col-xl-6 col-lg-7 col-sm-6"
      [ngStyle]="{ 'min-height.px': cardContentHeight }"
    >
      <zh-form-map
        (draw)="updateGeom($event)"
        (endDraw)="onNewGeom($event)"
        (edit)="updateGeom($event)"
      ></zh-form-map>
    </div>
    <div class="col-xl-6 col-lg-5 col-sm-6">
      <div class="d-flex mt-3">
        <mat-slide-toggle
          [(ngModel)]="toggleChecked"
          (change)="slideToggleChanged()"
        >
          Afficher toutes les zones humides sur la carte
        </mat-slide-toggle>
      </div>
      <form>
        <fieldset>
          <legend>
            <h5 class="section-title">Champs obligatoires</h5>
          </legend>
          <div class="form-row">
            <!-- <h3 class="section-label">Identification de la zone humide</h3> -->
            <div
              class="form-group col-md-12"
              [hidden]="_currentZh"
            >
              <small class="required">Organisme de l'opérateur</small>

              <zh-multiselect
                keyLabel="name"
                keyValue="id_org"
                [values]="idOrg"
                [parentFormControl]="form.controls.id_org"
                [multiple]="false"
                [hightlightValue]="false"
              />
              <small
                *ngIf="
                  (form.controls.id_org.touched || submitted) &&
                  form.controls.id_org.errors?.required
                "
                class="error-msg"
              >
                Champ requis
              </small>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <small class="required">Nom usuel de la zone humide</small>
              <input
                class="form-control"
                type="text"
                [formControl]="form.controls.main_name"
              />
              <small
                *ngIf="
                  (form.controls.main_name.touched || submitted) &&
                  form.controls.main_name.errors?.required
                "
                class="error-msg"
              >
                Champ requis
              </small>
              <small
                *ngIf="
                  (form.controls.main_name.touched || submitted) &&
                  form.controls.main_name.errors?.zh_exists
                "
                class="error-msg"
              >
                Ce nom est déjà pris. Veuillez entrer un autre nom
              </small>
            </div>
          </div>
          <div class="form-row">
            <!-- <h3 class="section-label">
              Critères de délimitation de la zone humide
            </h3> -->
            <div class="form-group col-md-12">
              <small class="required">Critères de délimitation de la zone humide</small>
              <zh-multiselect
                placeholder="Critères utilisés"
                keyLabel="mnemonique"
                [values]="critDelim"
                [parentFormControl]="form.controls.critere_delim"
              />
              <small
                *ngIf="
                  (form.controls.critere_delim.touched || submitted) &&
                  form.controls.critere_delim.errors?.required
                "
                class="error-msg"
              >
                Champ requis
              </small>
            </div>
          </div>
          <div class="form-row">
            <!-- <h3 class="section-label">
              Présentation de la zone humide et de ses milieux
            </h3> -->
            <div class="form-group col-md-12">
              <small class="required">Typologie SDAGE</small>
              <zh-multiselect
                keyLabel="mnemonique"
                keyValue="id_nomenclature"
                [values]="sdage"
                [parentFormControl]="form.controls.sdage"
                [multiple]="false"
                [hightlightValue]="false"
              />
              <small
                *ngIf="
                  (form.controls.sdage.touched || submitted) && form.controls.sdage.errors?.required
                "
                class="error-msg"
              >
                Champ requis
              </small>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <small>
                Types d’habitats Corine biotopes humides (H) ou potentiellement humides (P)
              </small>
            </div>
          </div>

          <div class="form-group col-md-6 d-flex align-items-center">
            <button
              mat-raised-button
              color="primary"
              (click)="onAddCorinBio($event, corinBioModal)"
            >
              <mat-icon>add_box</mat-icon>
              Habitat
            </button>
            <small
              *ngIf="
                (corinBioForm.controls.corinBio.touched || submitted) &&
                corinBioForm.controls.corinBio.errors?.required &&
                listCorinBio == 0
              "
              class="error-msg"
              class="error-msg ml-2"
            >
              Champ requis
            </small>
          </div>
          <div
            *ngIf="listCorinBio && listCorinBio.length > 0"
            class="table-responsive"
          >
            <zh-table
              [tableCols]="corinTableCol"
              [data]="listCorinBio"
              [editable]="true"
              [deletable]="true"
              (onDelete)="onDeleteCorin($event?.corinBio.CB_code)"
              (onEdit)="onEditCorinBio(corinBioModal, $event)"
            ></zh-table>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <small class="required">Date de création terrain</small>
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder="Date de création terrain"
                  [formControl]="form.controls.field_creation_date"
                  name="fcd"
                  ngbDatepicker
                  #d0="ngbDatepicker"
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-sm btn-outline-shadow"
                    (click)="d0.toggle()"
                    type="button"
                  >
                    <i
                      _ngcontent-c41=""
                      aria-hidden="true"
                      class="fa fa-calendar"
                    ></i>
                  </button>
                </div>
              </div>
              <small
                *ngIf="
                  (form.controls.field_creation_date.touched || submitted) &&
                  form.controls.field_creation_date.errors?.required
                "
                class="error-msg"
              >
                Champ requis
              </small>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <small class="required">Observateur</small>
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder="Observateur"
                  [formControl]="form.controls.observer"
                  name="obs"
                />
              </div>
              <small
                *ngIf="
                  (form.controls.observer.touched || submitted) &&
                  form.controls.observer.errors?.required
                "
                class="error-msg"
              >
                Champ requis
              </small>
            </div>
          </div>
        </fieldset>
      </form>
      <div class="footer-btn">
        <zh-cancelButton [zhId]="zhId"></zh-cancelButton>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          class="ml-3"
          [disabled]="posted"
          (click)="onFormSubmit(form.value)"
        >
          <mat-icon *ngIf="!posted">save_outline</mat-icon>
          <mat-spinner
            *ngIf="posted"
            [diameter]="20"
          ></mat-spinner>
          Enregistrer
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal corine biotope-->
<ng-template
  #corinBioModal
  let-c="close"
  let-d="dismiss"
>
  <div class="modal-header">
    <h6>{{ modalTitle }}</h6>
    <button
      mat-icon-button
      class="closeModalBtn"
      (click)="c()"
    >
      <mat-icon class="cancel-icon">cancel</mat-icon>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="corinBioForm">
      <div class="form-row">
        <div class="form-group col-md-6">
          <small>Corine biotopes</small>
          <input
            id="typeahead-basic"
            type="text"
            class="form-control"
            [formControl]="corinBioForm.controls.corinBio"
            placeholder="Tapez les premières lettres..."
            [resultFormatter]="formatter"
            [inputFormatter]="formatter"
            [ngbTypeahead]="search"
          />
          <small
            *ngIf="
              (corinBioForm.controls.corinBio.touched || modalFormSubmitted) &&
              corinBioForm.controls.corinBio.errors?.required
            "
            class="error-msg"
          >
            Champ requis
          </small>
        </div>
        <div class="form-group col-md-12">
          <small>Recouvrement sur la ZH (%)</small>
          <input
            class="form-control"
            [formControl]="corinBioForm.controls.cbCover"
            type="number"
            min="0"
            max="100"
          />
          <small
            *ngIf="
              corinBioForm.controls.cbCover.value &&
              (corinBioForm.controls.cbCover.errors?.min ||
                corinBioForm.controls.cbCover.errors?.max)
            "
            class="error-msg"
          >
            La valeur doit être comprise entre 0 et 100
          </small>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      mat-raised-button
      color="primary"
      class="uppercase"
      (click)="patchCorinBio ? onPatchCorinBio() : onPostCorinBio()"
    >
      {{ addModalBtnLabel }}
    </button>
  </div>
</ng-template>
